@using TennisPlanner.Core.Clients
@using TennisPlanner.Core.Contracts.Location
@using TennisPlanner.Server.Models

<BlazoredTypeahead 
    SearchMethod="GetAddressSuggestionAsync"
    @bind-Value="selectedAddress">
    <SelectedTemplate Context="templateContext">
        @if(templateContext != null)
        {
            <span>
                @templateContext.DisplayName
            </span>
        }
    </SelectedTemplate>
    <ResultTemplate Context="templateContext">
        @if(templateContext != null)
        {
            <span>
                @templateContext.DisplayName
            </span>
        }
    </ResultTemplate>
</BlazoredTypeahead>


