@using TennisPlanner.Server.Models

<div class="col-sm-2"><span>@(Model.Min)h</span></div>
    <div class="col-sm-6">
        <input class="form-range col-sm-12" type="range" min="0" max="24" step="1" @bind="@Model.Min" />
        <input class="form-range col-sm-12" type="range" min="0" max="24" step="1" @bind="@Model.Max" />
    </div>
<div class="col-sm-2"><span>@(Model.Max)h</span></div>

@code {

    [Parameter]
    [EditorRequired]
    public HourRangeSelectorModel Model { get; set; }
}
