@page "/search"

@inject ISearchResultDataProvider SearchResultsDataProvider
@inject ISearchFiltersService SearchFiltersService
@inject NotificationService NotificationService
@inject NavigationManager NavManager

@using Radzen
@using TennisPlanner.App.Components
@using TennisPlanner.App.Services
@using TennisPlanner.Core.Clients
@using TennisPlanner.Core.Contracts
@using TennisPlanner.Core.Contracts.Location
@using TennisPlanner.Core.Contracts.Transport
@using TennisPlanner.Shared.Enums
@using TennisPlanner.Shared.Helpers

<RadzenNotification />

<nav class="navbar navbar-light bg-light justify-content-between">
    <img class="col-md-1 rounded mx-auto d-block" src="/logo/TennisPlannerBetaSmall.png">

    @if (SearchResults?.SearchStatus != SearchResultsStatus.Loading 
        && SearchResults?.SearchStatus != null)
    {
        <button class="btn btn-outline-success my-2 my-sm-0" @onclick="goToIndex">Nouvelle recherche</button>
    }
</nav>

<div class="container">
    @switch (SearchResults?.SearchStatus)
    {
        case SearchResultsStatus.Loading:
        case null:
            <LoadingComponent />
            break;
        case SearchResultsStatus.Ready:
            <SearchResultsComponent Results=@SearchResults />
            break;
        case SearchResultsStatus.Failed:
            <ErrorComponent />
            break;
    }
</div>

