@page "/"

@using TennisPlanner.Server.Helpers
@using TennisPlanner.Server.Models
@using TennisPlanner.Server.Services
@using TennisPlanner.Shared.Services.Logging

@inject NavigationManager NavManager
@inject NotificationService NotificationService
@inject ILoggerService LoggerService

<RadzenDialog/>
<RadzenNotification />

<div class="container my-auto">
    <div class="logo row text-center">
        <img class="col-md-6 rounded mx-auto d-block" src="/logo/TennisPlannerBetaFull.png">
    </div>

    <EditForm Model="@searchModel" OnValidSubmit="@HandleSearch">
        <div class="container d-flex justify-content-md-center">
            <div class="row col-md-4">
                <div class="search-bar">
                     <RadzenDatePicker 
                        class="mb-4" 
                        Name="SelectedDate" 
                        DateFormat="d" 
                        DateRender=@DateRender
                        @bind-Value="@searchModel.SelectedDate" 
                        ShowTime="false" />
                </div>
            </div>
            <div class="row col-md-1">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" disabled="@(!ValidateFields())">Chercher</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" @onclick="DisplayFiltersModal">Editer les filtres</a>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>
