@page "/"

@inject IGeoClient GeoClient

@using Blazored.Typeahead
@using TennisPlanner.Core.Clients
@using TennisPlanner.Server.Components

<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Recherche de créneaux</a>
            @if (collapseSearch)
            {
                <button class="btn btn-outline-success my-2 my-sm-0" @onclick="ExpandSearch">Chercher</button>
            }
        </nav>
    </div>
    <div class="row">
        <div class="@CollapseSearch">
            <EditForm Model="@searchModel" OnValidSubmit="@HandleSearch">
                <div class="container">
                <div class="row">
                <div class="col col-sm-4 form-group">
                    <label for="selected-date-form" class="required-label">Date</label>
                    <InputDate @bind-Value="searchModel.SelectedDate" class="input-group date" id="selected-date-form"/>

                    <label for="range-sliders-group">Heure</label>
                    <div id="range-sliders-group" class="container">
                        @foreach(var RangeHoursSelectorModel in searchModel.HourRangeSelectors)
                        {
                            <div class="row">
                                <HourRangeSelector Model=@RangeHoursSelectorModel />
                                <div class="col-sm-2">
                                    <a class="btn btn-link" @onclick="_ => RemoveHourRangeSelector(RangeHoursSelectorModel)">
                                        <span class="oi oi-minus"></span>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <a class="btn btn-link" @onclick="AddHourRangeSelector"><span class="oi oi-plus"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-7">
                    <AddressSelector @bind-SelectedAddress="searchModel.SelectedAddressPlayer1" PlayerId="1"/>
                    <br/>
                    <AddressSelector @bind-SelectedAddress="searchModel.SelectedAddressPlayer2" PlayerId="2"/>
                </div>
                </div>
    
                <br/>

                <button class="btn btn-primary" type="submit" disabled="@(!ValidateFields())">Chercher</button>

                </div>
            </EditForm>
        </div>
    </div>

    <div class="row">
        @if (Availabilities != null)
        {
            <AvailabilitiesTable Availabilities=@Availabilities IsTransportSearchEnabled=@IsTransportSearchEnabled/>
        }
    </div>
</div>


